<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CryptoTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FileChecksum.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CryptoTool.Properties.Settings>
            <setting name="HashAlgorithms" serializeAs="String">
                <value>MD5
SHA1
SHA256
SHA384
SHA512</value>
            </setting>
            <setting name="EncryptionAlgorithms" serializeAs="String">
                <value>DES
TripleDES
RC2
Rijndael
RSA
DSA</value>
            </setting>
        </CryptoTool.Properties.Settings>
        <FileChecksum.Properties.Settings>
            <setting name="HashAlgorithms" serializeAs="String">
                <value>MD5
SHA1
SHA256
SHA384
SHA512</value>
            </setting>
        </FileChecksum.Properties.Settings>
    </userSettings>
</configuration>